@font-face {
    font-family: "Glitten All Caps";
    src: url(/fonts/glitten.otf);
}

@font-face {
    font-family: "Roboto Serif";
    src: url(/fonts/roboto.ttf);
}

@font-face {
    font-family: "Playfair";
    src: url(/fonts/playfair.ttf);
}


$bg-primary-red: #c0304f;
$font-tertiary: #929292;
$hero-primary-bg: #F6F2EB;
$bg-primrary-red: #c0304f;
$input-background: #2f3032;

.illustration {
    display: none;
}

.resp-container {
    width: 100%;
    max-width: 1000px;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hover-card:hover {
    background: #FFE6E0 !important;
}

.bg-input {
    background-color: $input-background;
}

.bg-primary-red {
    background-color: $bg-primrary-red !important;
}

.active {
    @extend .bg-primary-red;
}

.rounded-card-4 {
    border-radius: 15px;
}

.hero-primary {
    background-color: $hero-primary-bg;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}

.glitten-all-caps {
    font-family: "Glitten All Caps", serif;
}

.roboto-serif {
    font-family: "Roboto Serif", serif;
}

.playfair {
    font-family: "Playfair", serif;
}

.font-tertiary {
    color: $font-tertiary !important;
}

.verticalSpacer {
    width: 2px;
    background-color: rgba($color: #bAA7A3, $alpha: 0.5);
    height: 50%;
}

.mw-75,
.mw-85 {
    width: 100%;
}

.font-12 {
    font-size: 0.6rem;
}

.font-16 {
    font-size: 0.7rem;
}

.font-20 {
    font-size: 0.8rem;
}

.font-26 {
    font-size: 1rem;
}

.font-30 {
    font-size: 1.2rem;
}

.font-45 {
    font-size: 2rem;
}

// navbar
.navbar-logo {
    translate: 0% 30%;
}

.nav-item:hover .nav-link::before {
    content: "";
    position: absolute !important;
    left: 0px;
    bottom: 0px;
    width: 75%;
    background: $bg-primary-red;
    height: 2px;
}

.nav-item:hover .nav-link::after {
    content: "";
    position: absolute !important;
    right: 0px;
    bottom: 0px;
    width: 20%;
    background: $bg-primary-red;
    height: 2px;
}

// footer section
.illustration-footer {
    bottom: -50px;
    right: 0px;
    transform: translate(0%);
}

.footer-section {
    background: url(http://localhost:3000/images/footer/footer.png) no-repeat;
    background-position: 100% 50%;
    background-size: cover;
}


@media screen and (min-width:768px) {

    .illustration {
        display: unset;
    }

    .mw-75 {
        width: 75%;
    }

    .border-md-start {
        border-left: 1px solid;
    }

    .mw-85 {
        width: 85%;
    }

    .font-12 {
        font-size: 0.7rem;
    }

    .font-16 {
        font-size: 1rem;
    }

    .font-20 {
        font-size: 1.1rem;
    }

    .font-26 {
        font-size: 1.5rem;
    }

    .font-45 {
        font-size: 2rem;
    }

    .overlay-white {
        position: relative;

        &:before {
            width: 20%;
            height: 100%;
            z-index: 2;
            content: '';
            position: absolute;
            background: linear-gradient(to left, #fff 10%, rgba(0, 0, 0, 0));
            top: 0%;
            right: 0%;
        }
    }
}