@font-face {
  font-family: "Glitten All Caps";
  src: url(/fonts/glitten.otf);
}
@font-face {
  font-family: "Roboto Serif";
  src: url(/fonts/roboto.ttf);
}
@font-face {
  font-family: "Playfair";
  src: url(/fonts/playfair.ttf);
}
.illustration {
  display: none;
}

.resp-container {
  width: 100%;
  max-width: 1000px;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hover-card:hover {
  background: #FFE6E0 !important;
}

.bg-input {
  background-color: #2f3032;
}

.bg-primary-red, .active {
  background-color: #c0304f !important;
}

.rounded-card-4 {
  border-radius: 15px;
}

.hero-primary {
  background-color: #F6F2EB;
}

.fit-content {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.glitten-all-caps {
  font-family: "Glitten All Caps", serif;
}

.roboto-serif {
  font-family: "Roboto Serif", serif;
}

.playfair {
  font-family: "Playfair", serif;
}

.font-tertiary {
  color: #929292 !important;
}

.verticalSpacer {
  width: 2px;
  background-color: rgba(186, 167, 163, 0.5);
  height: 50%;
}

.mw-75,
.mw-85 {
  width: 100%;
}

.font-12 {
  font-size: 0.6rem;
}

.font-16 {
  font-size: 0.7rem;
}

.font-20 {
  font-size: 0.8rem;
}

.font-26 {
  font-size: 1rem;
}

.font-30 {
  font-size: 1.2rem;
}

.font-45 {
  font-size: 2rem;
}

.navbar-logo {
  translate: 0% 30%;
}

.nav-item:hover .nav-link::before {
  content: "";
  position: absolute !important;
  left: 0px;
  bottom: 0px;
  width: 75%;
  background: #c0304f;
  height: 2px;
}

.nav-item:hover .nav-link::after {
  content: "";
  position: absolute !important;
  right: 0px;
  bottom: 0px;
  width: 20%;
  background: #c0304f;
  height: 2px;
}

.illustration-footer {
  bottom: -50px;
  right: 0px;
  transform: translate(0%);
}

.footer-section {
  background: url(http://localhost:3000/images/footer/footer.png) no-repeat;
  background-position: 100% 50%;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .illustration {
    display: unset;
  }
  .mw-75 {
    width: 75%;
  }
  .border-md-start {
    border-left: 1px solid;
  }
  .mw-85 {
    width: 85%;
  }
  .font-12 {
    font-size: 0.7rem;
  }
  .font-16 {
    font-size: 1rem;
  }
  .font-20 {
    font-size: 1.1rem;
  }
  .font-26 {
    font-size: 1.5rem;
  }
  .font-45 {
    font-size: 2rem;
  }
  .overlay-white {
    position: relative;
  }
  .overlay-white:before {
    width: 20%;
    height: 100%;
    z-index: 2;
    content: "";
    position: absolute;
    background: linear-gradient(to left, #fff 10%, rgba(0, 0, 0, 0));
    top: 0%;
    right: 0%;
  }
}
.primary-white {
  background-color: #fcfcfc;
}

.primary-banner {
  background-color: #FFE6E0;
}

.h-85 {
  height: 85%;
}

.hero-image {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 0.8fr 1.35fr;
}
.hero-image .item:not(.item-md-span-2) {
  width: 100%;
  height: 80%;
}
.hero-image .item-mary {
  scale: 0.8;
}
.hero-image .item-md-span-2 {
  order: 999;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  overflow: hidden;
}
.hero-image .item-md-span-2 img {
  translate: 3% 20%;
}

.quote-book {
  max-height: 200px;
  max-width: 55%;
}

.hero-banner {
  height: 200px;
}

.custom-button {
  max-width: 150px;
}

.volunteerImgWrapper {
  height: 50% !important;
}

.volunteer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 300px 200px;
}
.volunteer .item:nth-child(1) img {
  height: 500px;
}
.volunteer .item-doll {
  background: url(http://localhost:3000/images/volunteer/doll.svg) no-repeat center;
  background-size: cover;
}

.potential-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  max-width: 450px;
}

.team-card {
  max-width: 280px;
}

.share-icon {
  height: 50px;
  width: 50px;
  border: 2px solid #DDDDDD;
}

.event-card {
  max-width: 260px;
}
.event-card .event-image {
  max-height: 250px;
}

.overlap-image {
  margin-left: -15px;
}

.form-subscribe > div {
  min-height: 445px;
  max-width: 670px;
}
.form-subscribe .featured {
  background: url(http://localhost:3000/images/subscribe/subscribe.png) no-repeat center;
  background-size: cover;
}
.form-subscribe .featured > div {
  width: 100%;
  max-width: 350px;
}

input[type=checkbox]:checked {
  background-color: #000;
}

.service-card-container {
  padding-inline: 20px;
}

.illustration-team {
  max-width: 500px;
}

.growing-hands {
  width: 180px;
  height: 250px;
}

.growing-pray {
  width: 100%;
  max-height: 470px;
}

.illustration-eros {
  right: 50px;
  width: 80px;
  translate: 0% -120%;
  max-width: 300px;
}

.spirituality-back-gradient {
  width: 80px;
  height: 80px;
  rotate: 45deg;
  background: linear-gradient(to bottom, #DFE3e6, rgba(240, 232, 228, 0.5));
}

.cardContainer {
  transition: all 0.2s ease;
}

@media screen and (min-width: 400px) {
  .hero-image {
    grid-template-rows: 0.8fr 0.8fr 1.6fr;
  }
}
@media screen and (min-width: 700px) {
  .hero-image {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 300px;
  }
  .hero-image .item:nth-child(1) {
    order: -1;
  }
  .hero-image .item-crown {
    scale: 1.1;
  }
  .hero-image .item-flower {
    max-width: 280px;
  }
  .hero-image .item-md-span-2 {
    order: unset;
    flex-shrink: 0;
    max-height: 100%;
    grid-row: span 2;
    grid-column: span 1;
  }
  .volunteer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 150px;
  }
  .volunteer .item:last-child {
    grid-column: span 2;
  }
}
@media screen and (min-width: 768px) {
  .translate-middle-md-y {
    transform: translateY(-50%) !important;
  }
  .quote-book {
    max-width: 240px;
    max-height: unset;
  }
  .event-card {
    max-width: 540px;
  }
  .event-card .event-image {
    max-height: unset;
  }
  .growing-hands {
    translate: 0% 30%;
  }
}/*# sourceMappingURL=style.css.map */